/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   0.8 (2008-03-10)
	 
-------------------------------------------------------------- */

body { 
width:100% !important;
margin:0 !important;
padding:0 !important;
line-height: 1.4;
word-spacing:1.1pt;
letter-spacing:0.2pt; font-family: Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }

/*Headings */
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1{font-size:19pt;}
h2{font-size:15pt;}
h3{font-size:13pt;}
h4,h5,h6{font-size:12pt;}
h1, h2 {text-align:center;}
h3 {margin-left:10px;}
code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em;  font-size: 10pt; }
hr { background-color: #ccc; }


/* Images 
  img {display:none}
*/
#cover {text-align:center;width:100%;} 

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: none;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="http://"] {color:#000; }

/* Table */
.table {border-top:1px solid #000;border-right:1px solid #000;width:100%;margin-bottom:10px;}
.table th {text-align:right;}
.table th, .table td {border-bottom:1px solid #000;border-left:1px solid #000;padding:5px;}
.table td.total {border-top:3px solid #666;font-weight:bold;}
.table td.total_r {border-top:3px solid #666;font-weight:bold;text-align:right;}
.indent {padding-left:10px;}
.center {text-align:center;}
.right {text-align:right;}

p.back {display:none;}

/*hide various parts from the site

#header, #footer, #navigation, #rightSideBar, #leftSideBar 
{display:none;}

*/
