body, input {
    font: 16px arial, sans-serif;
}
input[type=text] {
    margin-bottom: 10px;
}
fieldset {
    padding-bottom: 0px;
}
#wrapper {
    max-width: 920px;
    padding: 0px;
    margin: 0 auto;
}
#wrapper div {
    /*padding-bottom: 30px;*/
}
#cover {
    text-align: center;
    max-width: 900px;
}
#introduction {
    max-width: 920px;
}
h1,
h2 {
    text-align: center;
    /*white-space: nowrap;*/
}
h3 {
    margin-top: 25px;
    margin-left: 10px;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.footnote {
    font-size: 12px;
}
.disclosure {
    border-top: 1px solid #666;
    margin-top: 30px;
    padding: 15px 0;
}
.disclosure a {
    font-size: 12px;
}
li {
    list-style-image: url(bullet.jpg);
}
.table {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    width: 900px;
    margin-bottom: 10px;
}
.table th {
    text-align: right;
}
.table th,
.table td {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    padding: 5px;
}
.table td.total {
    border-top: 3px solid #666;
    font-weight: bold;
}
.table td.total_r {
    border-top: 3px solid #666;
    font-weight: bold;
    text-align: right;
}
.indent {
    padding-left: 10px;
}
ul.homepage li {
    margin-bottom: 20px;
}
.zc {
    font-weight: bold;
}